<div class="row">
    <div class="card border-gray offset-md-2 offset-1 col-md-8 col-10 mt-5 p-0">
        <div class="card-header bg-light">Sign up!</div>
        <div class="card-body">
            <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label class="col-3">First Name</label>
                    <input type="text" formControlName="firstName" class="form-control col-8" placeholder="First Name (required)">
                    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger offset-3 p-2 col-8 mt-1">
                        <div *ngIf="name.errors.required">
                            Name is required.
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-3">Last Name</label>
                    <input type="text" formControlName="lastName" class="form-control col-8" placeholder="Last Name (required)">
                    <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger offset-3 p-2 col-8 mt-1">
                        <div *ngIf="lastName.errors.required">
                            Lastname is required.
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-3">Email</label>
                    <input type="text" formControlName="email" class="form-control col-8" placeholder="Email (required)">
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger offset-3 p-2 col-8 mt-1">
                        <div *ngIf="email.errors.required">
                            Email is required.
                        </div>
                        <div *ngIf="email.errors.email">
                            Please enter a valid email address
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-3">Confirm Email</label>
                    <input type="text" formControlName="confirmEmail" class="form-control col-8" placeholder="Confirm Email (required)">
                    <div *ngIf="confirmEmail.invalid && (confirmEmail.dirty || confirmEmail.touched)" class="alert alert-danger offset-3 p-2 col-8 mt-1">
                        <div *ngIf="confirmEmail.errors.required">
                            Email is required.
                        </div>
                        <div *ngIf="confirmEmail.errors.mustMatch">
                            Email must match
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-3">Phone</label>
                    <input type="text" formControlName="phone" class="form-control col-8" placeholder="Phone">
                    <div *ngIf="signUpForm.get( 'phone').hasError('required')" class="alert alert-danger offset-3 p-2 col-8 mt-1">
                        Phone is required.
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-3"> Send Nodifications</label>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" formControlName="check" name="check" value="email">
                        <label class="form-check-label">Email
                        </label>
                    </div>
                    <div class="form-check ml-2">
                        <input class="form-check-input" type="radio" formControlName="check" name="check" value="text">
                        <label class=" form-check-label">
                    Text
                  </label>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-3">Rating</label>
                    <input type="text" class="form-control col-8" formControlName="rating">
                </div>

                <div class="form-check form-group">
                    <input class="form-check-input" type="checkbox" checked formControlName="sendCatalog">
                    <label class="form-check-label"> Send me your catalog </label>
                </div>

                <div class="row">
                    <button class="btn btn-primary offset-3" [disabled]="!signUpForm.valid"> Save</button>
                </div>
            </form>

        </div>
    </div>
</div>